
#title {
  text-align: center;
}

main {
  text-align: center;
}

#color-palette {
  margin-top: 50px;
  margin-bottom: 30px;
}

#clear-board {
  margin-bottom: 30px;
}

.color {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
}

.black {
  background-color: black;
}

.red {
  background-color: crimson;
}
.green {
  background-color:rgb(28, 174, 123);
}

.pink {
  background-color: rgb(209, 128, 163);
}

#pixel-board {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 0px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  background-color: white;
}

#resetColor {
  background-color: white;
}
