body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .header-content{
    background-image: url("stars.png");
    background-size: cover;
    padding: 200px 100px;
    background-position: 50% 25%;
    background-attachment: scroll;
  }
  .header-content h4{
    color: #90d1b8;
    text-align: center; 
    margin: 20px 0px 10px 4px;
    font-size: 18px;
  }
  .header-content h1{
    color: #977b79;
    line-height: 30px;
    text-align: center;
  }
  .skills{
    padding: 70px 50px 40px 30px;
    width: 80%;
    margin: auto;
  }
  .skills-container{
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 70px 50px;
  }
  .skills h4{
    color: #977b79;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
  }
  .skills li{
    color: #90d1b8;
    font-size: 18px;
  }
  .skills-picture{
    width: 120px;
    border-radius: 80%;
    float: left;
    margin-top: 150px;
    margin-right: 40px;
    transform: rotate(-15deg);
  }
    
  h4{
    color: #977b79;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
  
  .contact{
    text-align: center;
    
  }
  .contact-links{
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
  }
  .contact-icon{
    width: 50px;
    margin: 30px;
    padding: 10px;
    border: #90d1b8 solid 3px;
    border-radius: 25px;
  }
  .picture{
    width: 150px;
    border-radius: 25px;
    float: right;
    border: #977b79 solid 5px;
    margin: 80px;
    margin-top: 0;
  }
.footer{
  margin-top: 300px;
  text-align: center;
  padding: 0 40% 0 40%;
  font-size: 14px;
  font-style: italic;
}